<%- include("partials/header") %>

<h1 class="intro-msg">Build your team here:</h1>
<div class="champion-box overflow-auto">
    <% for (const champion in champions){%>
        <% const imgSrc = "http://ddragon.leagueoflegends.com/cdn/10.23.1/img/champion/"+champions[champion].id+".png";%>
        <% const optionValue = champions[champion].id %>
        
        <button class = "champion-button">
            <% const imgId = champions[champion].id +"-icon" %>
            <img class="champion-icon" src = <%=imgSrc%> id=<%=imgId%>>
        </button>
        <script>
            document.getElementById('<%=imgId%>').addEventListener("click",()=>{
                //check if this is already in
                if('<%=champions[champion].id%>' in selected){
                    document.getElementById('<%=imgId%>').classList.toggle("selected-champion");
                    console.log('<%=champions[champion].id%>'+" is deselected.");
                    delete selected['<%=champions[champion].id%>'];
                    document.getElementById("champion-selection-submit").disabled=true;
                }else{
                    //check if there's too many
                    if(Object.keys(selected).length>=5){
                        console.log("Remove some champions before you can select others.");
                    }else{
                        document.getElementById('<%=imgId%>').classList.toggle("selected-champion");
                        console.log('<%=champions[champion].id%>'+" is selected.");
                        selected['<%=champions[champion].id%>']=undefined;
                        if(Object.keys(selected).length===5){
                            document.getElementById("champion-selection-submit").disabled=false;
                            document.getElementById("championSelection").setAttribute("value",Object.keys(selected));
                            
                        }
                    }

                }
            });
        </script>
    
    <%}%>
    <!--After for loop-->
    <script>
        const selected = {};
    </script>

</div>
<div>
    <form method="post">
        <input type="hidden" id="championSelection" name="championSelection" value="">
        <button type="submit" class="btn btn-success" id="champion-selection-submit"disabled="true">Next</button>
    </form>
</div>




<%- include("partials/footer") %>